h1 {
    text-align: center;
    margin-top: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: center;

}

.info-wrp {
    max-width: 400px;
    margin: auto;

}

button {
    background-color: #3b3bed;
    margin-top: 2rem;

    justify-content: space-around;
}

button:hover {
    background-color: gray;
}

.img-wrp {
    max-width: 900px;
    margin: auto;
}

.img-wrp img {
    width: 100%;
    margin-top: 2rem;
    border-radius: 4px;
}

.upd p {
    margin-top: 2rem;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}



.grid-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item img {
    border-radius: 5px;
}

.info-wrps {
    background: #d6d3d3;
    padding: 1rem;
    font-family: system-ui;
    border-radius: 5px;
}

h3 {
    font-size: 17px;
    text-align: center;
}

h2 {
    font-size: 23px;
}

h4 {
    font-size: 20px;
}

.loder {
    max-width: 400px;
    margin: auto;
    padding: 2rem;
}

@media screen and (max-width: 645px) {
    .grid-item img {
        width: 314px;
    }
}

@media screen and (max-width: 500px) {
    .info-wrp {
        max-width: 192px;
    }
}